*, ::before ::after{
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    scroll-behavior: smooth;
}
body{
    font-family: 'spartan';
    font-style: normal;
}

main{
    margin: 0;
    padding: 0;
}

.line{
    display: flex;;
    background-color: #C8CCD8;
    width: 0.063rem;
    height: 6.5rem;
    margin-left: 64px;
    margin-top: -0.5rem;
}

.rotated{
    display: flex;
    font-weight: 500;
    font-size: 15px;
    color: #C8CCD8;
    transform: rotate(90deg);
    letter-spacing: 0.938rem;
    margin-top: 14rem;
    margin-left: -5.5rem;
}

.top-logo{
    display: flex;
    margin-inline-start: 150px;
    margin-top: -3rem;
}

.arch-logo{
    display: flex;
    justify-content: space-between;
    width: 10rem;
}

nav a{
    width: 10rem;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    margin-top: 1rem;
    text-decoration: none;
    display: inline-flex;
    justify-content: space-around;
    color: #7D828F;
}

nav a:hover{
    cursor: pointer;
    color: #1B1D23;

}

.mob-open, .mob-close{
    display: none;
}

.arrow-container{
    display: flex;
    margin-top: 2.5rem;
    background-color: black;
    width: 15rem;
    height: 3.5rem;
}

.arrow-container a{
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    margin: 1rem;
    margin-left: 1.5rem;
    margin-top: 1.2rem;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
}

.icon-arrow{
    margin-left: 1.5rem;
    width: 24px;
}

.arrow-container:hover{
    cursor: pointer;
    background: #60636D;
}



.footer-container{
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    margin-left: 8.8rem;
    background-color:#EEEFF4;
    box-sizing: border-box;
    width: 984px; 
    height:164px; 
}

.footer-nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.arch-logo-footer {
    width: 164px;
    height: 164px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B1D23;
}

.arch-logo-footer > svg{
    fill: #FFFFFF;
}

.tab-left{
    position: absolute;
    margin-left: 71rem;
}

.first-image-container{
    display: flex;
    width: 635px;
    height: 720px;
    
    
}

